Source: usbmuxd-openrc
Section: misc
Priority: important
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper (>=13)
Standards-Version: 4.6.2
Homepage: http://nxos.org


Package: usbmuxd-openrc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, openrc, usbmuxd
Conflicts: systemd, systemd-sysv
Description: Package to add usbmuxd configuration for OpenRC.
 This package will add the boot scripts to use usbmuxd
 with OpenRC in Nitrux.

